body {
    background-color: #121212;
}
#playButton {
    background-color: #1CBB52;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px 0 0 20px;
}

#playIcon {
    width: 30px;
    height: 30px;
}

#playIcon1 {
    width: 30px;
    height: 30px;
    fill: red;
}

#playButton:hover {
    background-color: green;
}

#heartIcon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 20px 0 0 40px;
    fill: #BAB7BE;
}

#heartIcon:hover {
    cursor: pointer;
    fill: white;
}

#ellipsisIcon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 20px 0 0 40px;
    fill: #BAB7BE;
}

#ellipsisIcon:hover {
    cursor: pointer;
    fill: white;
}

.table {
    color: #BAB7BE;
    margin: 20px 40px 0 20px;
}

.borderless td, .borderless th {
    border: none;
}

td p {
    font-size: 12px;
    margin: 0;
}

td h6 {
    color: #F4F4F4;
    margin: 0;
}

hr .borderless {
    background-color: red !important;
}




tr:hover {
    background-color: darkslategray;
}

#headingTrack:hover {
    cursor: auto;
    background-color: #121212;
    
}

#playing {
    color: #1CBB52;
    margin: 10px 30px 30px 30px;
    cursor: pointer;
}


#playTrack, #playTrack2, #playTrack3, #playTrack4, #playTrack5, #playTrack6, #playTrack7, #playTrack8, #playTrack9 {
    background-color: #1CBB52;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

#trackIcon {
    padding-bottom: 5px;
}

#pauseTrack, #pauseTrack2, #pauseTrack3, #pauseTrack4, #pauseTrack5, #pauseTrack6, #pauseTrack7, #pauseTrack8, #pauseTrack9 {
    background-color: #1CBB52;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
}

#stopTrack {
    background-color: #1CBB52;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}


#refresh:hover {
    cursor: pointer;
    fill: white;
}

#heart1, #heart2, #heart3, #heart4, #heart5, #heart6, #heart7, #heart8, #heart9 {
    width: 25px;
    height: 25px;
}

#heart1:hover {
    cursor: pointer;
    fill: white;
}

#heart2:hover {
    cursor: pointer;
    fill: white;
}

#heart3:hover {
    cursor: pointer;
    fill: white;
}

#heart4:hover {
    cursor: pointer;
    fill: white;
}

#heart5:hover {
    cursor: pointer;
    fill: white;
}

#heart6:hover {
    cursor: pointer;
    fill: white;
}

#heart7:hover {
    cursor: pointer;
    fill: white;
}

#heart8:hover {
    cursor: pointer;
    fill: white;
}

#heart9:hover {
    cursor: pointer;
    fill: white;
}